<div class="plan_all">
  <h2>（ケア・デイ・在支・沼南の里）　行　事　計　画　書</h2>
  <%= form_with(model: @plan, local: true) do |f| %>
    <div>
      <table class ="plan_table"  id="target">
        <tr>
          <th>企画行事名</th>
          <td><%= @blog.title %></td>
        </tr>
        <tr>
          <th>企画の趣旨</th>
          <td><%= f.text_field  :plannning_point, size: 130 %></td>
        </tr>
        <tr>
          <th>実施予定日</th>
          <td><%= @blog.start_time %></td>
        </tr>
        <tr>
          <th>場所</th>
          <td><%= f.text_field  :plannning_place, size: 130 %></td>
        </tr>
        <tr>
          <th>参加予定者</th>
          <td><%= f.text_field  :plannning_people_count, size: 130 %></td>
        </tr>
        <tr>
          <th>用意するもの</th>
          <td><%= f.text_area  :plannning_preparation_object, size: "132x6" %></td>
        </tr>
        <tr>
          <th colspan="2">タイムスケジュール</th>
        </tr>
         <tr>
          <td><%= f.time_field :plannning_time, include_blank: true %>~
          <input type="button" value="追加" id="clickBtn3">
          <input type="button" value="削除" id="clickBtn4"></td>
          <td><%= f.text_field  :plannning_name, size: 130 %></td>
        </tr>
        <tr>
          <th>
            備考
          </th>
          <td>
            <%= f.text_area  :planning_note, size: "132x4" %>
          </td>
        </tr>
        <tr>
          <th>
            注意点
          </th>
          <td>
            <%= f.text_area  :planning_severe, size: "132x2" %>
          </td>
        </tr>
        <tr>
          <th>
            会場図
          </th>
          <td>
            <%= f.text_area  :planning_severe, size: "132x2" %>
          </td>
        </tr>
        <tr>
          <th>
            担当職員
          </th>
          <td>
            <%= f.text_field  :planning_severe, size: "130" %>
          </td>
        </tr>
      </table>
    </div>
    <%= f.submit "送信"%>
  <% end %>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
<script>
getRowData = function() {
    var sysDate = new Date();
    return '<tr><td id="aaa"><input include_blank="true" type="time" name="planning_paper[plannning_time]" id="planning_paper_plannning_time">~</td><td>' + 
    '<input size="130" type="text" name="planning_paper[plannning_name]" id="planning_paper_plannning_name">' + '</td></tr>';
}
 
$(document).ready(function() {
    $( "#clickBtn3" ).click(function () { 
        // 最後の行に追加
        var rowNo = 7;
         $( '#target tr' ).eq( rowNo ).after( getRowData() );
    });


  $( "#clickBtn4" ).click(function () { 
      // 最後の行に追加
       var rowNo = 8;  // 8行目を削除
    $( '#target tr' ).eq( rowNo ).remove();
  });
});


</script>
