<div class="plan_all">
  <h2>（ケア・デイ・在支・沼南の里）　行　事　計　画　書</h2>
  <%= form_with(model: @plan, local: true) do |f| %>
    <div>
      <table class ="plan_table"  id="target">
        <tr>
          <th>企画行事名</th>
          <td><%= @blog.title %></td>
        </tr>
        <tr>
          <th>企画の趣旨</th>
          <td><%= f.text_field :plannning_point, size: 130 %></td>
        </tr>
        <tr>
          <th>実施予定日</th>
          <td><%= @blog.start_time %></td>
        </tr>
        <tr>
          <th>場所</th>
          <td><%= f.text_field  :plannning_place, size: 130 %></td>
        </tr>
        <tr>
          <th>参加予定者</th>
          <td><%= f.text_field  :plannning_people_count, size: 130 %></td>
        </tr>
        <tr>
          <th>用意するもの</th>
          <td><%= f.text_area  :plannning_preparation_object, size: "132x6" %></td>
        </tr>
        <tr>
          <th colspan="2">タイムスケジュール</th>
        </tr>
         <tr>
          <td class="url-clone"><%= f.time_field :plannning_time, include_blank: true %>~
          <input type="button" value="追加" id="clickBtn3">
          <%# <input type="button" value="削除" id="clickBtn4"></td> %>
          <td class="url-clone-2"><%= f.text_field  :plannning_name, size: 130, class: "plan_name_c" %></td>
        </tr>
        <tr>
        <td class = "appends"></td>
        <td class="appends-2"></td>
        </tr>
        <tr>
          <th>
            備考
          </th>
          <td>
            <%= f.text_area  :planning_note, size: "132x4" %>
          </td>
        </tr>
        <tr>
          <th>
            注意点
          </th>
          <td>
            <%= f.text_area  :planning_severe, size: "132x2" %>
          </td>
        </tr>
        <tr>
          <th>
            会場図
          </th>
          <td>
            <%= f.text_area  :planning_palace_picture, size: "132x2" %>
          </td>
        </tr>
        <tr>
          <th>
            担当職員
          </th>
          <td>
            <%= f.text_field  :planning_person, size: "130" %>
          </td>
        </tr>
      </table>
    </div>
    <%= f.submit "送信"%>
  <% end %>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
<script>
$(function(){
  $(document).on("click", '#clickBtn3', function() {
  var content = $('#clickBtn3').closest('form').find('.url-clone').first().clone().appendTo('.appends').css("display", "table-row");
  var consttext = $('#clickBtn3').closest('form').find('.url-clone-2').first().clone().appendTo('.appends-2').css("display", "table-row");
  consttext.find('.plan_name_c').val('');
 
 // 行削除
$(document).on("click", '#clickBtn4', function() {
   var content = $('.appends').parent().parent();
   var content = $('.appends-2').parent().parent();
  content.find('#planning_paper_plannning_name').text('');
 });
 });
});

</script>


