  <%= month_calendar events: blogs, attribute: :start_time, end_attribute: :end_time, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link do |date, blogs| %>
  <%= date.day %>
    <% blogs.each do |blog| %>
      <% if blog.title.present? %>
        <div class= "title_content_div">
          <div><%= link_to blog.title, edit_blog_path(blog, @start_date), class: "carender_lek_class" %></div>
              <%= link_to blog.content, edit_blog_path(blog), class: "carender_lek_class" %> 
          <div>
            <%= link_to blog.content_a, edit_blog_path(blog), class: "carender_lek_class" %>
          </div>
          <div>
            <%= link_to  blog.content_b, edit_blog_path(blog), class: "carender_lek_class" %>
          </div>
        </div>
      <% end %>
    <% end %>  
  <% end %>
