<div class ="blog-edit-day">
<h1>レクカレンダー全体編集</h1>
  <%= link_to "⇦ ",  all_blogs_edit_blogs_path(date: @first_day.prev_month), class: "btn btn-info" %>
  <%= @first_day.strftime("%-m") %>月
  <%= link_to " ⇨",  all_blogs_edit_blogs_path(date: @first_day.next_month), class: "btn btn-info" %>
</div>
  <%= form_with(model: @blogs, url: all_blogs_update_blogs_path(@blogs), local: true, method: :patch) do |f| %>
<div class="up-supmit">  
  <%= f.submit '送信', class: "btn btn-primary blog-submit-btn" %>
</div>
<table class="edit-calender table table-bordered table-condensed table-hover" id="table-attendances">
  <thead>
    <tr>
      <th>月日</th>
      <th>曜日</th>
      <th>レク内容(散髪の場合は散髪記入)</th>
      <th>誕生日プレゼント渡す人（散髪日の場合はレク記入）</th>
      <th>誕生日プレゼント渡す人</th>
      <th>誕生日プレゼント渡す人</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |day| %>
    <%= f.fields_for "blogs[]", day do |b| %>
    <tr>
      <% css_class = 
              case %w{日 月 火 水 木 金 土}[day.start_time.wday]
              when '土'
                'text-primary'
              when '日'
                'text-danger'
              end %>
      <td><%= day.start_time.strftime("%-m/%-d") %></td>
      <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.start_time.wday] %></td>
      <td><%= b.text_field :title, class: "form-control", placeholder: "レクの内容を又は散髪入力" %></td>
      <td><%= b.text_field :content_1, class: "form-control", placeholder: "レクの内容又は利用者の誕生日を入力" %></td>
      <td><%= b.text_field :content_2, class: "form-control", placeholder: "利用者の誕生日を入力"  %></td>
      <td class="td_content_3"><%= b.text_field :content_3, class: "form-control", placeholder: "利用者の誕生日を入力" %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<div class="down-submit">
<%= f.submit '送信', class: "btn btn-primary blog-submit-btn" %>
</div>
<% end %>

<script>
  var autosaveOn = false;
function myAutosavedTextbox_onTextChanged()
{
    if (!autosaveOn)
    {
        autosaveOn = true;

        $('#myAutosavedTextbox').everyTime("300000", function(){
             $.ajax({
                 type: "POST",
                 url: "all_blogs_edit_blogs_url",
                 data: "blog_id: autosaveOn",
                 success: function(msg) {
                     $('#autosavenotify').text(msg);
                 }
             });
        }); //closing tag
    }
}
  </script>
