<h1>レクカレンダー全体編集</h1>
<%= link_to "⇦ ",  all_blogs_edit_blog_path(date: @first_day.prev_month), class: "btn btn-info" %>
<%= @first_day.strftime("%-m") %>月
<%= link_to " ⇨",  all_blogs_edit_blog_path(date: @first_day.next_month), class: "btn btn-info" %>
<%= form_with(model: @blogs, url: all_blogs_update_blog_path(@blogs), local: true, method: :patch) do |f| %>
  <table class= "table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>月日</th>
        <th>曜日</th>
        <th>レク内容</th>
        <th>誕生日の利用者にプレゼント渡す日</th>
      </tr>  
    </thead>
    <tbody>
    <% [*@first_day..@last_day].each do |day| %>
      <tr>
        <td><%= day.strftime("%-m/%-d") %></td>
        <td><%= %w{日 月 火 水 木 金 土}[day.wday] %></td>
    <% end %>
      <% @blogs.each do |blog| %>
        <%= f.fields_for "blogs[]", blog do |b| %>
        <td><%= b.text_field :title, class: "form-control" %></td>
        <td><%= b.text_field :content, class: "form-control" %></td>
        <% end %>
      <% end %>
      </tr>
    </tbody>
  </table>
  <%= f.submit '送信', class: "btn btn-primary" %>
<% end %>
