<div class ="carender_all">
  <div class ="carender_data">
    <div class="edit_carendar_link_prace">
      <p id="notice"><%= notice %></p>
      <%= link_to 'カレンダー全体編集', all_blogs_edit_blogs_path(@blogs), class: "btn btn-primary" %>
      <%# <%= link_to '利用者誕生日一覧', clients_path, class: "btn btn-success" %>
    </div>
    <br>
    <div id="events_calendar">
      <%= render partial: "carendar", locals: {blogs: @blogs} %>
    </div>
  </div>
  <% @tasks.map do |a| %>
    <% if a.firstshipping.present? && @start_date.month ==  a.firstshipping.month %>
      <%= a.inc %>
      <%= a.title %>
      <%= a.warehousecode %>
      初回稼働日
      <%= a.firstshipping %>
    <% end %>
  <% end %>
</div>
