<div class ="carender_all">
  <p id="notice"><%= notice %></p>

  <div class="edit_carendar_link_prace">
    <%= link_to 'カレンダー全体編集', all_blogs_edit_blogs_path(date: @first_day), class: "btn btn-primary" %>
    <!--%= link_to '利用者一覧' "#" %-->
    <h1 class="h1_title">レクカレンダー</h1>
  </div>
  <br>

  <%= month_calendar(events: @blogs) do |date, blogs| %>
    <%= date.day %>

    <% blogs.each do |blog| %>
      <% if blog.title.present? %>
        <div class= "title_content_div">
          <div><%= link_to blog.title, edit_blog_path(blog), class: "carender_lek_class" %></div>
          <div><%= link_to blog.content_1, edit_blog_path(blog), class: "carender_lek_class" %></div>
          <div><%= link_to blog.content_2, edit_blog_path(blog), class: "carender_lek_class" %></div>
          <div><%= link_to blog.content_3, edit_blog_path(blog, class: "carender_lek_class") %></div>
        </div>
        <div>
          <!-- %= link_to "消去", blog, method: :delete,
          data: { confirm: "削除してよろしいですか？" },
          class: "btn btn-danger btn-sm blog_delete" % -->
        </div>
      <% end %>
    <% end %>  
  <% end %>
  <textarea id="text_preparation_space" name="kanso" cols="40" rows="4" maxlength="1000" placeholder="誕生日者記入"></textarea>
</div>
