<p id="notice"><%= notice %></p>

<div class="edit_carendar_link_prace">
  <%= link_to 'カレンダー全体編集', all_blogs_edit_blog_path(@blogs), class: "btn btn-solid  individual_all" %>
  <%= link_to 'カレンダー個別編集', new_blog_path, class: "btn btn-solid individual_edit" %>
  <%= link_to '利用者一覧' "#" %>
<h1>レクカレンダー</h1>
</div>
<br>

<%= month_calendar(events: @blogs) do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <% if blog.title.present? %>
      <div>
        <%= link_to blog.title, new_blog_path %>
        <br><%= link_to blog.content, new_blog_path %>
      </div>
      <div>
        <%= link_to "削除", blog, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-danger blog_delete" %>
      </div>
    <% end %>
  <% end %>  
<% end %>

