<div class ="carender_all">
  <div class ="carender_data">
    <div class="edit_carendar_link_prace">
      <p id="notice"><%= notice %></p>
      <%= link_to 'レク参考URL', lek_urls_path, class: "btn btn-warning" %>
      <%= link_to 'カレンダー全体編集', all_blogs_edit_blogs_path(user_id: current_user.id), class: "btn btn-primary" %>
      <%= link_to '利用者誕生日一覧', clients_path, class: "btn btn-success" %>
      <!--%= link_to '利用者一覧' "#" %-->
      <h1 class="h1_title">レクカレンダー</h1>
    </div>
    <br>
  <div id="events_calendar">
    <%= render partial: "carendar", locals: {blogs: @blogs} %>
  </div>
  </div>
  <% if @start_date.beginning_of_month.wday == 1..5 || @start_date.beginning_of_month.wday == 6 && 30 >= @start_date.end_of_month.day %>
  <div class ="copy_place">
  <% elsif @start_date.beginning_of_month.wday == 0 || @start_date.beginning_of_month.wday == 6 && @start_date.end_of_month.day >= 31 %>
  <div class ="copy_place_30">
  <% end %>
    <% @clients.each do |client| %>
      <% if @start_date.month == client.birthday.month && client.birthday.day > Date.today.day && client.birthday.month == Date.today.month || @start_date.month == client.birthday.month && client.birthday.month > Date.today.month %>
        <div class="carender_birthday"><%= client.name %>様
        <%= client.birthday.strftime("%Je%Jg年%m月%d日") %> 【<%= age_1_ago(client.birthday) %>歳】
        <span><%= client.use_day %></span>
        </div>
      <% elsif @start_date.month == client.birthday.month && Date.today.day >= client.birthday.day && client.birthday.month == Date.today.month %>
        <div class="carender_birthday"><%= client.name %>様
        <%= client.birthday.strftime("%Je%Jg年%m月%d日") %> 【<%= age(client.birthday) %>歳】
        <span><%= client.use_day %></span></div>
      <% elsif @start_date.month == client.birthday.month && Date.today.month > client.birthday.month %>
      <div class="carender_birthday"><%= client.name %>様
        <%= client.birthday.strftime("%Je%Jg年%m月%d日") %> 【<%= age(client.birthday) %>歳】
        <span><%= client.use_day %></span></div>
      <% end %>
    <% end %>
  </div>
</div>
