
<%= form_with(model: task, local: true , class: "form-horizontal") do |form|  %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="mb-3">
  <div class="field">
      <%= form.label "分類", class: "form-label" %>
  <br><%= form.collection_select(:classification,  @tasks_select_classifcation, :classification, :classification,  {prompt: ""}) %>  
  </div>

  <div class="field">
    <%= form.label "会計" %>
<br><%= form.collection_select(:total, @tasks_select_total, :total, :total, {prompt: ""}) %>
  </div>

  <div class="field">
    <%= form.label "担当者" %>
    <%= form.text_field :manager, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "インシデント" %>
    <%= form.text_field :inc ,class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label "件名" %>
    <%= form.text_field :title , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "内容" %>
    <%= form.text_area :contents, size: "30x20", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "倉庫コード" %>
    <%= form.text_field :warehousecode, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "コピー元倉庫" %>
    <%= form.text_field :copywarehouse, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "初回稼働日" %>
    <%= form.date_field :firstshipping , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "倉庫終了" %>
    <%= form.date_field :finishwarehouse, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label "統合インスタンス" %>
    <%= form.text_area :integrationinstance, size: "10x2", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "拠点インスタンス" %>
    <%= form.text_area :hubinstance, size: "10x2", class: "form-control" %>
  </div>


  <div class="actions">
    <%= form.submit '追加', class: "btn btn-primary" %>
  </div>
</div>
<% end %>   
