
<%= form_with(model: task, local: true , class: "form-horizontal") do |form|  %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label "分類", class: "form-label" %>
    <%= form.text_field :classification, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "会計" %>
    <%= form.text_field :total, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label "担当者" %>
    <%= form.text_field :manager, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "インシデント" %>
    <%= form.text_field :inc ,class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label "件名" %>
    <%= form.text_area :title , size: "30x20", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "ステータス" %>
    <%= form.text_field :st, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "EDI" %>
    <%= form.text_field :edi, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "初回出荷" %>
    <%= form.text_field :firstshipping , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "初回入荷" %>
    <%= form.text_field :firststock , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "倉庫終了" %>
    <%= form.text_field :finishwarehouse, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label "統合インスタンス" %>
    <%= form.text_field :integrationinstance, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "拠点インスタンス" %>
    <%= form.text_field :hubinstance, class: "form-control" %>

  <div class="actions">
    <%= form.submit '追加', class: "btn btn-primary" %>
  </div>
</div>
<% end %>   
