<div class= "task-all">
  <p id="notice"><%= notice %></p>
  <div class= "search_task">
    <%= form_with(scope: :search_task, url: tasks_path, method: :get, local: true, class: "form-task" ) do |f| %>
      <div class ="task_select_search">
        <%= link_to '会計コード追加', soko_create_tasks_path %>
        <br><%= f.collection_select(:total,  @tasks_select_total, :total, :total, {prompt: "会計を選択"}, onchange: "this.form.submit()") %>
        <%= f.collection_select(:classification,  @tasks_select_classifcation, :classification, :classification,  {prompt: "分類を選択"}, onchange: "this.form.submit()") %>
      </div>
      <%= f.label "インシデント" %>
      <%= f.text_field :inc, value: @search_task_params[:inc], class: "form-control" %>
      <%= f.label "件名" %>
      <%= f.text_field :title, value: @search_task_params[:title], class: "form-control" %>
      <br><%= f.submit "検索" ,class: "btn btn-primary name_search_btn" %>
    <% end %>
  </div> 
  <%= link_to 'カレンダーに戻る', blogs_path,class: "btn btn-primary" %>
  <%= link_to "CSV出力", tasks_path(format: :csv), class: "btn btn-info" %>
  <table class="table-task">
  <h1>タスク管理</h1>
    <thead class="thead-dark">
      <tr>
        <th scope="col">分類</th>
        <th scope="col">会計</th>
        <th scope="col">担当者</th>
        <th scope="col">インシデント</th>
        <th class="task-title-w" scope="col">件名</th>
        <th scope="col">内容</th>
        <th scope="col">コピー元倉庫</th>
        <th scope="col">初回出荷</th>
        <th scope="col">初回入荷</th>
        <th scope="col">初回倉庫終了</th>
        <th scope="col">統合インスタンス</th>
        <th scope="col">拠点インスタンス</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.classification %></td>
          <td><%= task.total %></td>
          <td><%= task.manager %></td>
          <td><%= task.inc %></td>
          <td><%= task.title %></td>
          <td><%= task.contents.truncate(50) if task.contents.present? %></td>
          <td><%= task.copywarehouse %></td>
          <td><%= l(task.firstshipping, format: :long) if task.firstshipping.present? %></td>
          <td><%= l(task.firststock, format: :long) if task.firststock.present? %></td>
          <td><%= l(task.finishwarehouse, format: :long) if task.finishwarehouse.present? %></td>
          <td><%= task.integrationinstance %></td>
          <td><%= task.hubinstance %></td>
          <td><%= link_to '詳細', task %></td>
          <td><%= link_to '編集', edit_task_path(task) %></td>
          <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'タスク追加', new_task_path, class: "btn btn-success" %>
</div>
