<div class= "task-all">
  <p id="notice"><%= notice %></p>
  <%= link_to 'カレンダーに戻る', blogs_path,  class: "btn btn-primary" %>
  <%= link_to "CSV出力", tasks_path(format: :csv), class: "btn btn-info" %>  
  <table class="table-task">
  <h1>タスク管理</h1>
    <thead class="thead-dark">
      <tr>
        <th scope="col">分類</th>
        <th scope="col">会計</th>
        <th scope="col">担当者</th>
        <th scope="col">インシデント</th>
        <th class = "task-title-w" scope="col">件名</th>
        <th scope="col">ステータス</th>
        <th scope="col">EDI</th>
        <th scope="col">初回出荷</th>
        <th scope="col">初回入荷</th>
        <th scope="col">初回倉庫終了</th>
        <th scope="col">統合インスタンス</th>
        <th scope="col">拠点インスタンス</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.classification %></td>
          <td><%= task.total %></td>
          <td><%= task.manager %></td>
          <td><%= task.inc %></td>
          <td><%= task.title.truncate(50) %></td>
          <td><%= task.st %></td>
          <td><%= task.edi %></td>
          <td><%= task.firstshipping %></td>
          <td><%= task.firststock %></td>
          <td><%= task.finishwarehouse %></td>
          <td><%= task.integrationinstance %></td>
          <td><%= task.hubinstance %></td>
          <td><%= link_to '詳細', task %></td>
          <td><%= link_to '編集', edit_task_path(task) %></td>
          <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'タスク追加', new_task_path, class: "btn btn-success" %>
</div>
