<%= form_with(model: language, local: true) do |form| %>
  <% if language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(language.errors.count, "error") %> prohibited this language from being saved:</h2>
      <ul>
        <% language.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "システム名" %>
    <br><%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "種類" %>
    <br><%= form.text_field :meaning %>
  </div>

  <div class="field">
    <%= form.label "詳細||画像" %>
    <%= form.rich_text_area :content %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
