<div class= "container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>システム名</strong>
    <%= @language.title %>
  </p>

  <p>
    <strong>種類</strong>
    <%= @language.meaning %>
  </p>

  <p>
    <strong>内容||画像</strong>
    <%= @language.content %>
  </p>

  <%= link_to '編集', edit_language_path(@language) %> |
  <%= link_to '戻る', languages_path %>
</div>
