<%= form_with(model: client, local: true) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :ふりがな %></div>
    <div><%= f.text_field :name_h %></div>
  </div>

  <div class="field">
    <div><%= f.label :名前 %></div>
    <div><%= f.text_field :name %></div>
  </div>

   <br><%= f.label :性別, class: "label-#{yield(:class_text)}" %>
   <br><%= f.radio_button :sex, :男性, checked: "checked" %>
      <%= f.label "男性", class: "label-#{yield(:class_text)}" %>
      <%= f.radio_button :sex, :女性 %>
      <%= f.label "女性", class: "label-#{yield(:class_text)}" %>

  <div class="field">
    <%= f.label :誕生日 %>
<div><%= date_select_ja(f.date_select(:birthday, use_month_numbers: true, start_year: 1910, end_year: Time.now.year, prompt:"--")) %></div>
  </div>

  <div class="field">
    <%= f.label :利用曜日, class: "label-#{yield(:class_text)}" %>
    <div><%= f.check_box :use_day, {multiple: true}, "月", nil %>月
    <%= f.check_box :use_day, {multiple: true}, "火", nil %>火
    <%= f.check_box :use_day, {multiple: true}, "水", nil %>水
    <%= f.check_box :use_day, {multiple: true}, "木", nil %>木
    <%= f.check_box :use_day, {multiple: true}, "金", nil %>金
    <%= f.check_box :use_day, {multiple: true}, "土", nil %>土
    <%= f.check_box :use_day, {multiple: true}, "日", nil %>日
    </div>
  </div>

  <div class="actions">
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
<% end %>
